* {
  box-sizing: border-box;
}

body {
  background-color: #181818;
  display         : flex;
  align-items     : center;
  justify-content : center;
  height          : 100vh;
  overflow        : hidden;
  margin          : 0;
}

.container {
  background-color: #181818;
  box-shadow      : 0 0 40px 10px #000;
  display         : flex;
  justify-content : center;
  align-items     : center;
  max-width       : 600px;
  flex-wrap       : wrap;
}

.square {
  width           : 20px;
  height          : 20px;
  background-color: #1d1d1d;
  margin          : 2px;
  box-shadow      : 0 0 2px #000;
  transition      : 1.5s ease-out;
}

.square:hover {
  transition-duration: 0s;
}